<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lihao.courseware.mapper.ChapterMapper">
    <resultMap id="base_result_map" type="com.lihao.courseware.entity.po.Chapter">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
    </resultMap>
    <select id="selectList" resultMap="base_result_map">
        select * from chapter
    </select>
    <insert id="insert" parameterType="com.lihao.courseware.entity.po.Chapter">
        insert into chapter(content) values(#{content})
    </insert>
    <update id="update">
        update chapter set content=#{bean.content} where id=#{bean.id}
    </update>
</mapper>